{% extends "base.html" %}
{% block content %}
{% block content_title %}
<h1 class="post-title">Blog Posts</h1>
{% endblock %}

<ul class="blog-post-list">
{% for article in articles_page.object_list %}
        <li>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            <span>{{ article.locale_date }}</span>
            <p> {{ article.summary }} </p>
        </li>
{% endfor %}
<ul><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
